body {
  background-image: url('../images/clock.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
}
 
 #mainDiv {
      margin-top: 20px;
      height: 85vh;
      backdrop-filter: blur(15px);
      background-color: rgba(148, 148, 148, 0.459);  
      border-radius: 10px;
      border: 5px solid #000;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      background-position: center;
    }

    #timer{
      border-radius: 10px;
      border: 5px solid #000;
      backdrop-filter: blur(15px);
      background-color: rgba(148, 148, 148, 0.459); 
      margin-top: 20px;
    }

  #bkgdIMG {
    backdrop-filter: opacity(.4);
  }

  #display {
      font-size: 35px;
      margin-top: 1%;
      color: black;
      padding-bottom: 2%;
      font-weight: bold;
  }

  #question {
      margin-top: 20%;
      font-size: 25px;
      color: black;
  }

  #start{
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
  }

  .btn {
      margin-top: 10px;
      border-top: 10px;
      font-family: 'Playfair Display SC', serif;
      font-weight: bold;
  }

  #welcome{
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #score{
    font-size: 30px;
    color: rgb(233, 233, 179);
  }

  @media only screen and (max-width: 900px) {
    body {
      background-size: 200% 120%;
      background-position: center;
    }

    #welcome{
      font-size: 20px;
    }

    #mainDiv{
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      background-position: center;
      height: 80vh;
    }
  }

 






